/*.radix-container {*/
/*  align-self: flex-start;*/
/*  box-sizing: border-box;*/
/*  display: flex;*/
/*  flex: 1;*/
/*  flex-direction: column;*/
/*}*/

.data-arr {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stack-arr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 18%;
}

.box {
  border: 2px solid #5467FF;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px;
  text-align: center;
}

.stack {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-left: 10px;
}

.number-with-line {
  align-items: center;
  border-top: 3px solid black;
  font-family: 'Open Sans Semibold', sans-serif;
  font-size: 15px;
  text-align: center;
  width: 60px;
}