.box {
  border: 2px solid #5467FF;
  padding: 5px;
  text-align: center;
  margin-left: 10px;
}

.all-boxes {
  align-self: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.stack {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-items: center;
}

.number-with-line {
  border-top: 4px solid black;
  font-size: 16px;
  width: 80px;
  text-align: center;
  align-items: center;
}