body {
  scroll-behavior: unset;
}

.footer-container {
  background: #5467ff;
  bottom: 0;
  display: flex;
  height: 400px;
  position: absolute;
  width: 100%;
}

.triangle {
  border-left: 1300px solid transparent;
  border-top: 100px solid #fff;
  position: absolute;
  right: 0;
  top: 0;
}

.links-container {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-top: 40px;
}

.footer-title {
  color: #fff;
  font-size: 21px;
  font-weight: 500;
  line-height: 50px;
}

.copy-right {
  align-items: center;
  bottom: 70px;
  color: #fff;
  font-family: serif;
  font-size: 22px;
  position: absolute;
}

.footer-container a {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  scroll-behavior: unset;
}

.footer-container a:hover {
  color: #e5e5e5;
}
