.team {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 675px;
}

.team-container {
  flex-direction: row;
  justify-content: space-around;
  display: flex;
  margin-top: 3%;
  height: 100%;
  width: 90%;
}

.team-picture {
  width: 45%;
  height: 450px;
}

.team-profile {
  flex-direction: column;
  justify-content: space-between;
  height: 450px;
  width: 35%;
}

.team-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #595da5;
}

.team-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #8789b5;
  line-height: 18px;
  padding-bottom: 15px;
}
