.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.title {
  color: white;
  display: flex;
  font-family: serif;
  font-size: 30px;
  font-weight: 600;
  justify-content: center;
}

.description {
  color: white;
  font-size: 25px;
  justify-content: center;
  margin-top: 50px;
}
