.animated-block {
  align-items: flex-end;
  background-image: linear-gradient(45deg, #287ED0, #5466FF);
  border-radius: 5px;
  box-shadow: 0 5px 13px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  position: relative;
}

.animated-block > span {
  color: whitesmoke;
}