.legend-header-box {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.legend-information-box {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}
.legend-header > span {
  font-family: 'Open Sans', serif;
  color: #8789B5;
  font-size: 16px;
}
.legend-header-line {
  background-color: #D5D9FC;
  width: 55px;
  height: 1px;
  transform: translateY(5px);
}
.legend-information {
  display: flex;
  flex: 1;
  padding-top: 5px;
}
.legend-information-box-holder{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.legend-information-box-box{
  height: 20px;
  width: 20px;
}
.legend-information-description-holder{
  display: flex;
  flex: 6;
  transform: translateX(10px);
}
.legend-information-description-text{
  font-family: 'Open Sans', serif;
  color: #8789B5;
  font-size: 13px;
}
.legend {
  transform: translateY(30px);
}