body {
  width: 100%;
  /*background: yellowgreen;*/
}

.list {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.code {
  margin: 30px auto 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-columns: minmax(150px, auto);
  column-gap: 10px;
  justify-items: start;
}

.code div {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}