.visualizer-box {
  align-items: flex-end;
  display: flex;
  flex: 3;
  justify-content: center;
  width: 100%;
}

.controller-box {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.visualizer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  width: 100%;
}

.emptyDiv {
  display: flex;
  flex: 4;
}

.button-box {
  display: flex;
  flex: 3;
  justify-content: center;
}

.legend-box {
  display: flex;
  flex: 4;
  height: 100%;
}

.code {
  align-content: center;
  border: 2px solid grey;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 2fr;
  justify-items: start;
  margin-left: 4%;
  margin-top: 4%;
  padding: 0 20px 0;
  width: 100%;
}