.step-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 0 0 20px;
}

.picture {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #d7dbff;
}

.step-title {
  font-size: 18px;
  font-weight: 600;
  color: #595da5;
  font-family: 'Open Sans', sans-serif;
}

.step-description {
  color: #8789b5;
  font-family: 'Open Sans', sans-serif;
  line-height: 18px;
}
