.main {
  display: flex;
  flex-direction: column;
}

.main header {
  color: #32325d;
  font-family: 'Open Sans Semibold', sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

.main p {
  color: #8789b5;
  font-size: 16px;
  margin-bottom: 1.5em;
}

.explanation-para {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.performance {
  font-family: 'Open Sans Semibold', sans-serif;
}

.performance p {
  font-size: 15px;
  margin-bottom: 0.5em;
}

.row-container-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.text {
  align-items: center;
  display: grid;
}

.complexity {
  align-items: center;
  display: grid;
}

.complexity p {
  background-color: #5467ff;
  border: 5px solid #5467ff;
  border-radius: 20px;
  color: #f2f2f2;
  font-family: 'Open Sans Semibold', sans-serif;
  letter-spacing: 1.3px;
  text-align: center;
}

.row-container-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-top: 1%;
}

.row-container-two div {
  min-width: 100px;
  text-align: center;
}

.link, .link:focus {
  color: steelblue;
  font-size: 15px;
  margin-top: 6%;
  text-decoration: underline;
}
