.visualizer-box {
  align-items: flex-end;
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
}

.controller-box {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.visualizer-header-box {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.visualizer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 550px;
}

.speed-selector-box {
  align-items: flex-end;
  display: flex;
  flex: 4;
  flex-direction: column;
}

.button-box {
  display: flex;
  flex: 3;
  justify-content: center;
}

.legend-box {
  display: flex;
  flex: 4;
  height: 100%;
  justify-content: center;
}

.code {
  align-content: center;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 2.5fr;
  justify-items: start;
  margin-left: 4%;
  margin-top: 4%;
  padding: 0 20px 0;
  transform: translateX(30px);
}