.visualizer-box {
  align-items: flex-end;
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
}

.controller-box {
  align-items: center;
  display: flex;
  flex: 2;
  flex-direction: row;
  flex-grow: 0;
  justify-content: center;
  min-height: 275px;
  width: 100%;
}

.visualizer-header-box {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.visualizer {
  align-items: center;
  display: flex;
  flex-direction: column;
  /*max-height: 625px;*/
  flex-grow: 0;
  justify-content: center;
  min-height: 675px;
  width: 100%;
}

.speed-selector-box {
  align-items: flex-end;
  display: flex;
  flex: 4;
  flex-direction: column;
}

.button-box {
  display: flex;
  flex: 3;
  justify-content: center;
}

.legend-box {
  display: flex;
  flex: 4;
  height: 100%;
  justify-content: flex-start;
}

.code {
  align-content: center;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 2.5fr;
  justify-items: start;
  margin-left: 4%;
  margin-top: 4%;
  padding: 0 20px 40px;
  transform: translateX(3vw);
}

#visualizer {
  min-width: 100%;
  width: 0;
}

.play-reset-button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
