.three-state-button {
  color: white;
  height: 40px;
  vertical-align: middle;
  width: 40px;
}

.three-state-button-holder {
  background-image: linear-gradient(90deg, #287ed0, #5466ff);
  border: none;
  border-radius: 100%;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 70px;
  outline: none;
  transform: translateY(10px);
  width: 70px;
}

.three-state-button-holder:hover {
  box-shadow: 1px 6px 6px rgba(190, 196, 255, 0.6);
}
