.fixed-array {
  align-items: flex-end;
  align-self: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-top: 6%;
}

.fixed-array-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.count {
  font-family: 'Open Sans Semibold', sans-serif;
  font-size: 16px;
  margin-top: 5px;
}
