.legend-box {
  display: flex;
  flex: 4;
  height: 100%;
  justify-content: flex-start;
}

.legend-header-box {
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: center;
}

.legend-information-box {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.legend-header > span {
  color: #8789b5;
  font-family: 'Open Sans', serif;
  font-size: 16px;
}

.legend-header-line {
  background-color: #d5d9fc;
  height: 1px;
  transform: translateY(5px);
  width: 55px;
}

.legend-information {
  display: flex;
  flex: 1;
  padding-top: 5px;
}

.legend-information-box-holder {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
}

.legend-information-box-box {
  height: 20px;
  width: 20px;
}

.legend-information-description-holder {
  display: flex;
  flex: 6;
  transform: translateX(10px);
}

.legend-information-description-text {
  color: #8789b5;
  font-family: 'Open Sans', serif;
  font-size: 13px;
}
