.button {
  color: white;
  cursor: pointer;
  height: 40px;
  vertical-align: middle;
  width: 40px;
}

.button-holder {
  background-color: #6D76E8;
  border: none;
  border-radius: 100%;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
  cursor: pointer;
  height: 70px;
  outline: none;
  transform: translateY(10px);
  width: 70px;
}
