.how-it-works {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 95vh;
}

.how-it-works-container {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0 0;
  width: 90%;
}

.how-it-works-picture {
  height: 90%;
  width: 45%;
}

.steps {
  flex-direction: column;
  justify-content: space-around;
  margin-top: 75px;
  width: 200px;
}
