.new-data-box {
  /*transform: translate(6px, 20px);*/
  transform: translateY(20px);
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -webkit-user-select: none; /* Chrome/Safari */
  user-select: none;
}

.new-data-box > span {
  color: #8789b5;
  font-family: 'Open Sans', serif;
  font-size: 14px;
}
