.profile-container {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  padding: 0 0 20px;
  width: 350px;
}

.profile-description-container {
  flex-direction: column;
  line-height: 0;
  padding-left: 20px;
  padding-top: 9px;
}

.picture {
  border-color: #d7dbff;
  border-radius: 10px;
  border-style: solid;
  border-width: 0.1px;
  height: 70px;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* This helps to make the image clearer even though it is being underlined */
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
  width: 70px;
}

.profile-title {
  color: #595da5;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.profile-description {
  color: #8789b5;
  font-family: 'Open Sans', sans-serif;
  line-height: 18px;
}

.github-logo {
  margin-left: 10px;
}
