.contact-us {
  background: white;
  display: flex;
  flex-direction: column;
  height: 140vh;
}

.contact-us-header-box > span {
  color: #8789b5;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  transform: translateY(30px);
}

.contact-us-header-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 20vh;
}
