* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 59px;
}

.app {
  display: flex;
}

.app-container {
  justify-content: center;
  position: absolute;
  width: 100%;
}

.nav-bar {
  align-items: center;
  background: transparent;
  display: flex;
  height: 75px;
  overflow: hidden;
  padding-top: 20px;
  position: fixed;
  top: 0;
  transition: 0.6s;
  width: 100%;
  z-index: 50;
}

.nav-bar.sticky {
  background: #ffffff;
  box-shadow: -1px -2px 17px 1px rgba(232, 238, 255, 1);
  height: 60px;
  padding: 0;
}

.nav-bar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0;
  width: 60%;
}

.nav-bar a {
  color: white;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  text-align: justify;
  text-decoration: none;
}

.nav-bar.sticky a {
  color: #454545;
}

.nav-menu a:hover {
  color: #b6b8ff;
}

.nav-bar.sticky .nav-menu a:hover {
  color: #5467ff;
}

.nav-menu li {
  display: inline-block;
  margin: 0 1rem;
  padding-inline: 0.5em;
}

/** active navigation **/
/** initial bar **/
.nav-menu a.active {
  border-bottom: 1.5px solid #ffffff;
  color: #ffffff;
}

/** bar after scrolling**/
.nav-bar.sticky .nav-menu a.active {
  border-bottom: 1.5px solid #a5aefc;
  color: #5467ff;
}

.nav-logo {
  align-items: center;
  color: #5467ff;
  display: flex;
  justify-content: center;
  width: 40%;
}

.nav-logo a {
  font-size: 24px;
  font-weight: 700;
}

.nav-bar.sticky .nav-logo a {
  color: #5467ff;
}

.nav-logo a:hover {
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  .nav-menu {
    display: none;
    height: 0;
  }
}
